DB_URL = "mongodb+srv://francescpallares:<USER_PASSWORD>@francescpallares.1bvb2uf.mongodb.net/?retryWrites=true&w=majority&appName=francescpallares"
DB_NAME = "DEV-BOOKS/PRO-BOOKS"
JWT_SECRET = "token secret"